<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="my-5">
        <h4>Fill all the field to get fetch data</h4>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Ticker ID</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="tickerId" placeholder="Enter ticker id">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Start Date</label>
          <div class="col-sm-6 input-group">
            <input type="text" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #sd="ngbDatepicker"
              placement="bottom" [(ngModel)]="startDate">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="sd.toggle()">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">End Date</label>
          <div class="col-sm-6 input-group">
            <input type="text" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #ed="ngbDatepicker"
              placement="bottom" [(ngModel)]="endDate">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="ed.toggle()">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>

        </div>
        <div class="form-group row">
          <div class="col-sm-8 text-right">
            <button (click)="getData()" [disabled]="!(tickerId && startDate && endDate)" type="button"
              class="btn btn-primary mb-2 ">Submit</button>
          </div>
        </div>
      </div>
      <ng-container *ngFor="let bank of banks;let i = index">
        <div style="width:1000px">
          <p>{{ bank }}</p>
          <canvas id="canvas_{{ i }}" height="300" width="1000">{{ charts[i] }}</canvas>
        </div>
      </ng-container>
    </div>
  </div>
</div>
